In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel("Book1.xlsx")
df.head()

  MA_DONVI                                         TEN_DONVI
0  TL0018L        Công Ty Tnhh Công Nghệ ThuậN Phong Laser
1  TL0022L                                 DNTN Khách sạn 46
2  TL0023L  Công Ty Tnhh Đầu Tư Dịch Vụ Vận Tải Phượng Hoàng
3  TL0025L                       Công ty TNHH XD Minh Chương
4  TL0027L      Công Ty Tnhh Thương Mại Và Dịch Vụ Thép Miho

In [4]:
import mysql.connector

In [7]:
myconn = mysql.connector.connect(host = "localhost", user = "root", 
    passwd = "", port="3308",  database = "qlbansua")
   
# in đối tượng connection ra màn hình
print(myconn)

<mysql.connector.connection.MySQLConnection object at 0x0000017C8EE47DC0>

In [ ]:
cursor = myconn.cursor()